<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Days Without Data</title>
        
        <meta name="description" content="See how long federal datasets have been taken offline, and what you can do about it.">
        <meta name="author" content="Code for Pittsburgh & Chi Hack Night">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:site_name" content="Days Without Data">
        <meta property="og:title" content="Days Without Data">
        <meta property="og:type" content="website">
        <meta property="og:description" content="See how long federal datasets have been taken offline, and what you can do about it.">
        <meta property="og:url" content="http://dayswithoutdata.com/">
        <meta property="og:image" content="http://dayswithoutdata.com/images/screengrab.jpg">


        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@codeforpgh">
        <meta name="twitter:creator" content="@codeforpgh">
        <meta name="twitter:description" content="See how long federal datasets have been taken offline, and what you can do about it.">
        <meta name="twitter:title" content="Days Without Data">
        <meta name="twitter:url" content="http://dayswithoutdata.com/">
        <meta name="twitter:image:src" content="http://dayswithoutdata.com/images/screengrab.jpg">

        
        <link rel="stylesheet" href="css/custom.css">
        <link rel="icon" type="image/png" href="favicon.png">

        <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>


    </head>
    <body>
        
        {{content}}

        <script src="js/jquery.min.js"></script>
        <script src="js/moment.js"></script>
        <script src="js/jquery.address.js"></script>
        <script src="js/analytics_lib.js"></script>
        <script type="text/javascript">

            default_reason = {title: "The missing information included annual reports from both scientific and breeding facilities for non-farm animals listing animal populations and use, as well as individual inspection reports made by USDA inspectors about those facilities.", source: "The Dodo", url: "https://www.thedodo.com/usda-animal-welfare-information-removed-2236124400.html"}

            var reasons = [
			
				{title: "These reports were an important public tool to combat mistreatment of research animals, as well as puppy mills, circuses, and other groups who directly monetize animals.", source: "CNN", url: "http://www.cnn.com/2017/02/04/us/usda-animal-abuse-database/index.html"},
				{title: "“The knowledge that the government collected is our knowledge,” volunteer Julia Wapner said. “As a country, we have a right to it.”", source: "Newsweek", url:"http://www.newsweek.com/volunteers-fight-trump-attack-science-safeguard-data-552827"},
				{title: "This has happened before, with Fisheries and Oceans data in Canada, which in 2014 was purged without input from the researchers who use it. 'It certainly suggests a lack of respect for scientific information.' - John Reynolds, professor of aquatic ecology at Simon Fraser University", source: "The Star", url:"https://www.thestar.com/news/canada/2014/01/12/thats_no_way_to_treat_a_library_scientists_say.html"},
				{title: "The potential for data to disappear is so high, climate scientists are replicating both raw data and data display methods to non-government servers, in case the official data sets are taken down.", source: "WIRED", url:"https://www.wired.com/2017/01/rogue-scientists-race-save-climate-data-trump/"},
				// {title: "", source: "", url:""},
				// no comma after the last one
            ]
			
            var indices = []
            $.each(reasons, function( index, value ) {
                indices.push(index);
            });

            var i = 0;

			var clock = moment();
            updateClock();

            setInterval(function(){
                updateClock();
            }, 1000);
			
			

            function updateClock(){
                clock = moment(moment().diff(moment("Feb 3 2017 12:00:00 EST")));
				$("#months").html(clock.get('month'));
                $("#days").html(clock.get('date')-1);
                $("#hours").html(clock.get('hour'));
                $("#minutes").html(clock.get('minute'));
                $("#seconds").html(clock.get('second'));
            }

            function shuffle(o){
                for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
                return o;
            }

            function renderReason(reason){
                $("#reason").html(reason['title']+'<br /><span  class="small">Source: <a href="'+reason['url']+'" target="blank">' + reason['source'] + '</a></span>');
            }


            $('#do-something').hide();

            if($.address.parameter("reason") && parseInt($.address.parameter("reason"))<reasons.length){
                renderReason(reasons[parseInt($.address.parameter("reason"))])
            }
            else{
                renderReason(default_reason)
            }


            shuffle(indices);
            $('#more').on('click', function(e){

                $.address.parameter('reason', indices[i]);
                $('#reason').fadeOut().delay(200).fadeIn()
                window.setTimeout(function () {
                    renderReason(reasons[indices[i]]);
                    i = (i+1) % reasons.length;
                    }, 500);

            })

            $('#call-to-action-btn').on('click', function(e){
                $('#do-something').slideDown(function(){ $('html, body').animate({
                        scrollTop: $("#do-something").offset().top
                     }, 500); });
                
                _trackClickEventWithGA('Click', 'Do something', 'Do something')
            })



        </script>
    </body>
</html>
